{% extends 'base.html' %}

{% block title %}Let's play Boggle{% endblock %}

{% block content %}

<form action="/view-graphs" method='post' id="ruleChoice">
    <div class="form-row align-items-center">
        <div class="col-12 col-md-5 my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormRule">Rule</label>
        <select name="selectedRule" class="custom-select mr-sm-2" id="inlineFormRule">
            <option selected>Choose a tajweed rule</option>
                  <option value="ghunnah">Ghunnah</option>
                  <option value="idghaam_ghunnah">Idghaam w/ Ghunnah (Noon Saakin)</option>
                  <option value="idghaam_no_ghunnah">Idghaam w/ No Ghunnah (Noon Saakin)</option>
                  <option value="idghaam_mutajanisayn">Idghaam Mutajaanisayn</option>
                  <option value="idghaam_mutaqaribayn">Idghaam Mutaqaaribayn</option>
                  <option value="idghaam_shafawi">Idghaam Shafawi (Meem Saakin)</option>
                  <option value="ikhfa">Ikhfa (Noon Saakin)</option>
                  <option value="ikhfa_shafawi">Ikhfa Shafawi (Meem Saakin)</option>
                  <option value="idhaar">Idhaar (Noon Saakin)</option>
                  <option value="idhaar_shafawi">Idhaar Shafawi (Meem Saakin)</option>
                  <option value="iqlab">Iqlab</option>
                  <option value="madd_246">Madd al-Aarid/al-Leen: 2, 4, 6 harakat</option>
                  <option value="madd_6">Madd Laazim: 6 harakat</option>
                  <option value="madd_muttasil">Madd al-Muttasil: 4, 5 harakat</option>
                  <option value="madd_munfasil">Madd al-Munfasil: 4, 5 harakat</option>
                  <option value="qalqalah">Qalqalah</option>
        </select>
        <button type="submit">Submit</button>
    </div>
</form>

<div>{{rule}}</div>
<div>{{sortedRule}}</div>


{% endblock %}
