{% extends 'base.html' %}

{% block title %}Let's play Boggle{% endblock %}

{% block content %}

<!-- <div>
    {{test_surah}}
</div> -->

<div id="ayat">
    {% for x in idhaar_shafawi%}
    {{x}}
    {% endfor %}
</div>

<div>
    <ul>
        {% for item in total %}
        <li>{{ item.line }}, {{item.idx[0]}}, 
            
            {% if item.idx|length != 0 %}
            {{item.idx[0] | int + 1}} 
            {{item.line[item.idx[0]] + item.line[item.idx[0] | int + 1] + item.line[item.idx[0] | int + 2] + item.line[item.idx[0] | int + 3]}}
            {%endif%}
        
        </li>
    
     {% endfor %}
    </ul>
</div>



<!-- <div id="rule">
    {{rule}}
</div>
<div id="targetDiv">
</div> -->

{% endblock %}